<!DOCTYPE html>
<html>
<head>
</head>
  <title>LogIn WebPage </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
  <!--The content below is only a placeholder and can be replaced.-->
  <div class="container">
    <div class="login_box">
      <div class="content">
        <form action="/to_a_specific_web_page.jsp" method="post">
          <!--Username and password  -->
          <div class="textarea mg_top15">
            <input class="height40" type ="text" name ="username" placeholder="Please enter your username">
          </div>
          <div class="textarea mg_top15">
            <input class="height40" type ="password" name ="password" placeholder="Please enter your password">
          </div>
          <!-- button: using the bootstrap style-->
          <div class="log_button">
            <button type="submit" class="btn btn-success btn-md btn-block mg_top15 height40">LOGIN</button>
          </div>
          <!-- login help information -->
          <div class="commit mg_top15">
            <span >Not Registered? </span>
            <span><a href="#" class="text-info">Create an account </a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
